/* Hero Section */
.hero {
    background-color: #003B46;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
    padding-top: 120px; /* Adjust based on navbar height */
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: white;
}

.hero .btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    font-size: 18px;
    color: white;
    background-color: #66A5AD;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

/* Contact Section */
.contact {
    text-align: center;
    padding: 60px 20px;
    background-color: #C4DFE6;
}

.contact h2 {
    font-size: 2rem;
    color: #003B46;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contact .btn {
    background-color: #003B46;
    color: white;
}

.contact .btn:hover {
    background-color: #005761;
}

.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid white;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

html {
    scroll-behavior: smooth;
}

/* About Section */
.about {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
}

.about h2 {
    font-size: 2rem;
    color: #003B46;
}

.about ul {
    list-style-type: none;
    padding: 0;
}

.about li {
    background: url('checkmark-icon.png') no-repeat left center;
    padding-left: 30px;
    margin: 10px 0;
    font-size: 1.1rem;
}
